#include "Version.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = com.newchromantics.notpoker
PRODUCT_NAME = $(TARGET_NAME)

IPHONEOS_DEPLOYMENT_TARGET = 15.6
MACOSX_DEPLOYMENT_TARGET = 14.0

//	xcode doesn't really support this in an xcconfig, the UI will think things aren't supported
//SDKROOT = auto
//SUPPORTED_PLATFORMS = appletvos appletvsimulator iphoneos iphonesimulator macosx xros xrsimulator



ENABLE_USER_SCRIPT_SANDBOXING = YES
CLANG_CXX_LANGUAGE_STANDARD = c++20
ENABLE_HARDENED_RUNTIME = YES
SWIFT_VERSION = 5.0

